{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
        {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
        {% endif %}

        <form class="form-signup" method="post">
            <h4>Cadastrar Novo Usuário</h4>
            <div class="form">
                {% csrf_token %}
                <div class="form-group">
                {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-success">Cadastrar</button>
                <a href="{% url 'login' %}" class="link btn-danger">Já tenho Usuário</a>
            </div>
        </form>
    </div>
</section>


{% endblock %}
