{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
        {% if messages %}
        <br>
        
        {% for message in messages %}
            
        <div class="alert {{message.tags}}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        
        <form method="post">
                <h4>Novo Empregado</h4>
                <div class="form">
                {% csrf_token %}
                <div class="form-group">
                {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a href="{% url 'login' %}" class="btn btn-danger">Já tenho uma conta</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}
