{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">


  <div class="side-logo">
      <div class="table-responsive">
          <h2> Avaliação de Riscos</h2>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Descrção do Perigo</th>
                <th>Medidas de Controle</th>
                <th>Nível de Exposição</th>
                <th>Nível de Probabilidade</th>
                <th>Nível de Gravidade</th>
                <th>Classificação de Risco</th>

              </tr>
            </thead>
            <tbody>
              {% for avaliacao_risco in avaliacao_riscos %}
                <tr>
                  <td>{{ avaliacao_risco.descricao_perigo }}</td>
                  <td>{{ avaliacao_risco.medidas_controle }}</td>
                  <td>{{ avaliacao_risco.nivel_exposicao }}</td>
                  <td>{{ avaliacao_risco.nivel_probabilidade }}</td>
                  <td>{{ avaliacao_risco.nivel_gravidade }}</td>
                  <td>{{ avaliacao_risco.classificacao_risco }}</td>
                  {% empty %}
                  <td>Nenhuma Avaliação de Riscos cadastrada.</td>
                
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}
