{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">

  <div class="side-logo">
      <div class="table-responsive">
        <h2> Descrição dos Perigos</h2>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th>Descrição do Perigo</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for descricao_perigo in descricao_perigos %}
              <tr>
                <td>{{ descricao_perigo.descricao_perigo }}</td>
                <td>
                  <a class="btn btn-primary" href="/descricaoperigo/update/{{descricao_perigo.id}}/">Editar</a>
                  <a class="btn btn-danger" href="/descricaoperigo/delete/{{descricao_perigo.id}}/">Apagar</a>
                </td>

            {% empty %}
                <td>Nenhum Perigo cadastrado.</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>
</div>

{% endblock %}
