{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">


  <div class="side-logo">
      <div class="table-responsive">
        <h2> Relação de empresas cadastradas</h2>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Responsável</th>
              <th>Número de funcionários</th>
              <th></th>
              <th></th>
            </tr>

          </thead>
          <tbody>
            {% for empresa in empresas %}
              <tr>
                <td>{{ empresa.nome }}</td>
                <td>{{ empresa.responsavel }}</td>
                <td>{{ empresa.numero_funcionarios }}</td>
                <td>
                  <a class="btn btn-primary" href="/empresa/update/{{empresa.id}}/">Editar</a>
                  <a class="btn btn-danger" href="/empresa/delete/{{empresa.id}}/">Apagar</a>
                </td>

                {% empty %}
                <td>Nenhuma Empresa cadastrada.</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>
</div>
{% endblock %}
