{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">


  <div class="side-logo">
      <div class="table-responsive">
          <h2> Relação de Empregados</h2>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Função</th>
                <th>Empresa</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for empregado in empregados %}
                <tr>
                  <td>{{ empregado.user }}</td>
                  <td>{{ empregado.funcao }}</td>
                  <td>{{ empregado.empresa }}</td>
                  <td>
                    <a class="btn btn-primary" href="/empregado/update/{{empregado.id}}/">Editar</a>
                    <a class="btn btn-danger" href="/empregado/delete/{{empregado.id}}/">Apagar</a>
                  </td>
                  <td>
                    {% comment %} <a class="btn btn-danger" href="{% url 'empregado/delete/{{empregado.user.id}}' %}">Apagar</a> {% endcomment %}
                  </td>
                  {% empty %}
                  <td>Nenhum Empregado cadastrado.</td>
                
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}
