{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">


  <div class="side-logo">
      <div class="table-responsive">
          <h2> Inventário de Riscos</h2>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Inventário de riscos</th>
                <th>Empregado</th>
                <th></th>
                <th></th>
              </tr>

            </thead>
            <tbody>
              {% for empregadosinventario in empregadosinventarios %}
                <tr>
                  <td>{{ empregadosinventario.inventario }}</td>
                  <td>{{ empregadosinventario.empregado }}</td>
                  {% if user.is_superuser %}
                  <td>
                    <a class="btn btn-primary" href="/empregadoinventario/update/{{empregadosinventario.id}}/">Editar</a>
                    <a class="btn btn-danger" href="/empregadoinventario/delete/{{empregadosinventario.id}}/">Apagar</a>
                  </td>
                  {% endif %}
                  {% empty %}
                  <td>Nenhum Inventário cadastrado.</td>
                
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}
