{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">

  <div class="side-logo">
      <div class="table-responsive">
        <h2> Funções cadastradas</h2>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrição Detalhada</th>
              <th>CBO</th>
              <th></th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            {% for funcao in funcoes %}
              <tr>
                <td>{{ funcao.nome }}</td>
                <td>{{ funcao.descricao_detalhada }}</td>
                <td>{{ funcao.cbo_funcao }}</td>
                <td>
                  <a class="btn btn-primary" href="/funcao/update/{{funcao.id}}/">Editar</a>
                  <a class="btn btn-danger" href="/funcao/delete/{{funcao.id}}/">Apagar</a>
                </td>

                {% empty %}
                <td>Nenhuma Função cadastrada.</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>
</div>

{% endblock %}
