{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">
  <div class="side-logo">
      <div class="table-responsive">
          <h2> Identificação de Perigos</h2>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Função</th>
                <th>Descricao do Perigo</th>
                <th>Descricao da Lesão</th>
                <th>Fonte de Risco</th>
                <th>Medidas Implementadas</th>
                <th>Tempo de Exposicao</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for identificacao_risco in identificacao_riscos %}
              <tr>
                  <td>{{ identificacao_risco.funcao }}</td>
                  <td>{{ identificacao_risco.descricao_perigo }}</td>
                  <td>{{ identificacao_risco.descricao_lesao }}</td>
                  <td>{{ identificacao_risco.fonte_risco }}</td>
                  <td>{{ identificacao_risco.medidas_implementadas }}</td>
                  <td>{{ identificacao_risco.tempo_exposicao }}</td>
                  <td>
                    {% if user.is_superuser %}
                    <a class="btn btn-primary" href="/identificacaorisco/update/{{identificacao_risco.id}}/">Editar</a>
                    <a class="btn btn-danger" href="/identificacaorisco/delete/{{identificacao_risco.id}}/">Apagar</a>
                    {% endif %}
                  </td>
              {% empty %}
                  <td>Nenhum risco identificado.</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
</div>

  {% endblock %}
