{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">
  <div class="side-logo">
    <h2>Inventário de Riscos</h2>
    <hr>
      <div class="table-responsive">
        <h4> Identificação de Perigos</h4>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th>Função</th>
              <th>Descricao do Perigo</th>
              <th>Descricao da Lesão</th>
              <th>Fonte de Risco</th>
              <th>Medidas Implementadas</th>
              <th>Tempo de Exposicao</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for inventario in inventarios %}
            <tr>
                <td>{{ inventario.funcao }}</td>
                <td>{{ inventario.empregado }}</td>
                <td>{{ inventario.descricao_lesao }}</td>
                <td>{{ inventario.fonte_risco }}</td>
                <td>{{ inventario.medidas_implementadas }}</td>
                <td>{{ inventario.tempo_exposicao }}</td>
                <td>
                  {% if user.is_superuser %}
                  <a class="btn btn-primary" href="/inventario/update/{{inventario.id}}/">Editar</a>
                  <a class="btn btn-danger" href="/inventario/delete/{{inventario.id}}/">Apagar</a>
                  {% endif %}
                </td>
            {% empty %}
                <td>Nenhum risco identificado.</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>

    <hr>
      <h4> Avaliação de Riscos</h4>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>Tipo Risco</th>
            <th>Medidas de Controle</th>
            <th>Nível de Exposição</th>
            <th>Nível de Probabilidade</th>
            <th>Nível de Gravidade</th>
            <th>Nível de Risco</th>
            <th>Classificação de Risco</th>
          </tr>
        </thead>
        <tbody>
          {% for avaliacaorisco in avaliacaoriscos %}
            <tr>
              <td>{{ avaliacaorisco.tipo_risco }}</td>
              <td>{{ avaliacaorisco.medidas_controle }}</td>
              <td>{{ avaliacaorisco.nivel_exposicao }}</td>
              <td>{{ avaliacaorisco.nivel_probabilidade }}</td>
              <td>{{ avaliacaorisco.nivel_gravidade }}</td>
              <td>{{ avaliacaorisco.nivel_risco }}</td>
              <td>{{ avaliacaorisco.classificacao_risco }}</td>
              {% empty %}
              <td>Nenhuma Avaliação de Riscos cadastrada.</td>
            
          {% endfor %}
        </tbody>
</table>
  </div>
</div>
</div>

{% endblock %}