{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">

  <div class="side-logo">
      <div class="table-responsive">
        <h2> Tipo Risco cadastrados</h2>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th>Tipo Risco</th>
              <th></th>
              <th></th>

            </tr>

          </thead>
          <tbody>
            {% for tiposderisco in tiposderiscos %}
              <tr>
                <td>{{ tiposderisco.tipo_risco }}</td>
                <td>
                  <a class="btn btn-primary" href="/tiporisco/update/{{tiposderisco.id}}/">Editar</a>
                  <a class="btn btn-danger"  href="/tiporisco/delete/{{tiposderisco.id}}/">Apagar</a>
                </td>
            {% empty %}
                <td>Nenhum Tipo Risco cadastrado.</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>
</div>

{% endblock %}
